.custom-a:link, .custom-a:visited {
    color: slategray;
    text-decoration: none;
    border-bottom: 1px dotted slategray;
}
.custom-a:hover {
    color: #444;
}
.custom-small {
    color: #999;
}
.content-p {
    line-height: 30px;
}
.custom-ol {
    list-style: none;
}